<div>
  <h2>Calculadora de Investimento</h2>
  <div>
    <label for="valor">Valor Monetário:</label>
    <input type="number" id="valor" [(ngModel)]="valor" />
  </div>
  <div>
    <label for="prazo">Prazo em Meses:</label>
    <input type="number" id="prazo" [(ngModel)]="prazo" />
  </div>
  <div>
    <button (click)="calcularInvestimento()">Calcular</button>
  </div>
  <div *ngIf="resultadoBruto !== null && resultadoLiquido !== null">
    <h3>Resultados:</h3>
    <p>Resultado Bruto: {{ resultadoBruto | currency }}</p>
    <p>Resultado Líquido: {{ resultadoLiquido | currency }}</p>
  </div>
</div>



<router-outlet></router-outlet>
